<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="appLogger" xsi:type="File" filename="IntSorter.log" layout="`${longdate}|${level:uppercase=true}|${logger}|${message}" />
			<target name="dllLogger" xsi:type="File" filename="UtilsLogFIle.log" layout="`${longdate}|${level:uppercase=true}|${logger}|${message}" />
		</targets>
		<rules>
			<logger name="Sorter_with_list_logger" minlevel="Debug" writeTo="appLogger" />
			<logger name="UtilsLogger" minlevel="Debug" writeTo="dllLogger" />
		</rules>
	</nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
