<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="logconsole" xsi:type="Console" />
			<target name="logfile" xsi:type="File" filename="VideoRental.log" layout="`${longdate}|${level:uppercase=true}|${logger}|${message}" />
			<target name="Debuglogfile" xsi:type="File" filename="VideoRentalDebugFile.log" layout="`${date}|${logger}|${message}"/>
		</targets>
		<rules>
			<logger name="Trace" minlevel="Trace" maxlevel="Trace" writeTo="logconsole" />
			<logger name="Debug" minlevel="Debug" maxlevel="Debug" writeTo="logfile" />
			<logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="logfile" />
		</rules>
	</nlog>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>